.filter-page {
  max-width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 175px);
}

.filter-page__btn-more {
  margin-right: 160px;
  display: flex;
  justify-content: flex-end;
  color: var(--markIcon);
  text-decoration: none;
  transition: 0.2s;
  font-size: 14px;
  line-height: 16.09px;
  font-weight: 500;
}
.filter-page__btn-more:hover {
  color: rgb(0, 234, 156);
}

@media (max-width: 1279px) {
  .filter-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    margin: auto;
  }
  .filter-page__btn-more {
    margin: 0;
    justify-content: center;
    font-size: 12px;
    line-height: 16.09px;
    font-weight: 500;
  }
}
@media (max-width: 1024px) {
  .filter-page {
    max-width: 100%;
  }
}
