.header {
  position: relative;
  display: flex;
  height: 80px;
  margin-bottom: 30px;
  background: var(--secondGradient);
}
.wrapper {
  display: flex;
  align-items: center;

  justify-content: space-around;
  flex-grow: 1;
}
.nav {
  display: flex;
}

.header__housing-title {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: var(--darkGray);
  transition: 0.3s;
  padding: 15px;
}

.header__housing-title:hover {
  color: var(--mainBlack);
  transform: translateY(-3px);
  text-shadow: var(--lightGray) 5px 5px 3px;
}
.header__housing-title:active {
  color: rgb(215, 137, 34);
  transform: translateY(0px);
  text-shadow: var(--lightGray) 2px 2px 0;
}

.footer {
  margin-top: 15px;
  font-size: 12px;
  padding: 10px;
  background: var(--mainGradient);
}

.active {
  color: var(--markIcon);
}
.header__favourites-length {
  position: absolute;
  border: 1px solid;
  padding: 1px 3px;
  font-size: 8px;
  border-radius: 15px;
  transition: 0.2s;
}
