.filters__container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5px;
    width: 980px;
    padding: 5px;
    margin: auto;
    gap: 15px;
    z-index: 13;
    background: #ffffff;
    box-shadow: var(--itemShadow) 0 0 20px 0;
    border-radius: 10px;
}

.filter-button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}
.filter-button:hover {
    background-color: #eae0e0;
    cursor: pointer;
}
.filter-button:active {
    background-color: #dfcccc;
    cursor: pointer;
}
.active-filter-button {
    background-color: burlywood;
}

.filters__main-filters {
    display: flex;
    justify-content: space-around;
}


.price-filter__wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.price-input{
    border-radius: 10px;
    width: 70px;
    text-align: center;
}
.price-filter__title {
    margin: auto 0 auto;
}




@media (max-width: 1279px) {
    .filters__container {
        width: 65vw;
        margin: auto;
    }
    .filters__main-filters {
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media (max-width: 1024px) {
    .filters__container {
        max-width: 60%;
     }
     .filter-button {
        font-size: 12px;
    }
    .filters__main-filters {
        gap: 10px;
    }
}

@media (max-width: 600px) {
     .filter-button {
        font-size: 10px;
        padding: 3px 5px;
    }
    .filters__main-filters {
        gap: 5px;
    }
    .price-filter__wrapper {
        flex-wrap: wrap;
    }
}
  